
#gincana{
	height: 200px;
	width:696px;
}

#gincana:hover{
	height: 254px;
	width:750px;
}
.titulo:active{
	color:#32CD32	;
	font-size: 46px;
}

#par{
	width: 450px;
	height:470px;
	font-size:17px;
}
#fundodedivs{
	background-color:black;
	width: 1340px;
	height:1000px;
}
#amarelo{
float: left;
background-color:Yellow;
width:660px;
height:500px;
text-align:center;
}	
#azul{
float:right;
background-color:blue;
width:670px;
height:500px;
text-align:center;
}	
#verde{
float: left;
background-color:green;
width:660px;
height:500px;
text-align:center;
}
#vermelho{
float:right;
background-color:red;
width:670px;
height:500px;
text-align:center;
}
#pa{
	width: 450px;
	height:500px;
	font-size:17px;
}
.table{

	width: 1340px;
	height:300px;			
}
#lo{
	height:400px;
}

